<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Authorize</title>

		<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	</head>
	<body>
		<%- include('../../layouts/header.ejs') -%>

		<div class="container-sm">
			<div class="border rounded p-4">
				<div class='d-flex justify-content-between align-items-center mb-4'>
					<h2 class="fs-2">Create App</h2>

					<a class='btn btn-outline-dark' href='/'>
						Back
					</a>
				</div>

				<hr />

				<% if (defaultErrorMessage) { %>
					<div class="alert alert-danger" role="alert">
						<%= defaultErrorMessage -%>
					</div>
				<% } %>

				<form action='/approve' method='post'>
					<input
						type='hidden'
						name='client_id'
						value='<%= clientId -%>'
					/>
					<input
						type='hidden'
						name='scope'
						value='<%= scope -%>'
					/>
					<input
						type='hidden'
						name='state'
						value='<%= state -%>'
					/>
					<input
						type='hidden'
						name='code_challenge'
						value='<%= codeChallenge -%>'
					/>
					<input
						type='hidden'
						name='code_challenge_method'
						value='<%= codeChallengeMethod -%>'
					/>
					<input
						type='hidden'
						name='code_challenge_method'
						value='<%= redirectUri -%>'
					/>

					<div class='d-flex gap-2'>
						<button
							class='btn btn-outline-success w-100'
							value='deny'
							name='action'
						>
							Deny
						</button>
						<button
							class='btn btn-outline-success w-100'
							value='allow'
							name='action'
						>
							Allow
						</button>
					</div>
				</form>
			</div>
		</div>

		<script
			src="/bootstrap/js/bootstrap.min.js"
		></script>
	</body>
</html>