<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>

		<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	</head>
	<body>
		<%- include('../../layouts/header.ejs') -%>

		<div class="container-sm">
			<div class="border rounded p-4">
				<div class='d-flex justify-content-between align-items-center mb-4'>
					<h2 class="fs-2">Apps</h2>

					<a class='btn btn-outline-dark' href='/apps/create'>
						Create App
					</a>
				</div>

				<hr />

				<% if (defaultErrorMessage) { %>
					<div class="alert alert-danger" role="alert">
						<%= defaultErrorMessage -%>
					</div>
				<% } %>

				<% if (successMessage) { %>
					<div class="alert alert-success" role="alert">
						<%= successMessage -%>
					</div>
				<% } %>

				<div class='table-responsive'>
					<table class='table table-bordered'>
						<thead>
							<tr>
								<th scope='col'>
									Name
								</th>
								<th scope='col'>
									Client ID
								</th>
								<th scope='col'>
									Client Secret
								</th>
								<th scope='col'>
									Redirect URI's
								</th>
							</tr>
						</thead>
						<tbody>
							<% apps.forEach(app => { %>
								<tr>
									<td>
										<%= app.name -%>
									</td>
									<td>
										<%= app.id -%>
									</td>
									<td>
										<%= app.secret -%>
									</td>
									<td>
										<%= app.redirectUri.toString() -%>
									</td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				</div>

				<% if (apps.length < 1) { %>
					<div class='alert alert-primary'>
						No found apps.
					</div>
				<% } %>
			</div>
		</div>

		<script
			src="/bootstrap/js/bootstrap.min.js"
		></script>
	</body>
</html>